.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  gap: 0.5rem;
}

.actionContainer {
  width: 100%;
  padding: 0 0.5rem;
}

.actionButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.topButtonsWrapper {
  display: flex;
  gap: 0.5rem;
  flex-grow: 1;
}

.claimButton {
  width: 100%; 
  background-color: #3b82f6;
  color: white;
  font-weight: 700;
  padding: 1rem 0;
  border-radius: 9999px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  font-size: 1rem;
  white-space: nowrap;
}

.claimButtonGreen {
  background-color: #dcfce7;
  color: #16a34a;
  border: 1px solid #bbf7d0;
}
.claimButtonGreen:hover {
  background-color: #bbf7d0;
}

.tryAgainButtonRed {
  background-color: #ffedd5;
  color: #f97316;
  border: 1px solid #fed7aa;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tryAgainButtonRed:hover {
  background-color: #fed7aa;
}

.shareButton {
  margin-top: 0.5rem;
  background-color: #8b5cf6;
  color: white;
  position: relative;
  overflow: hidden;
}
.shareButton:hover {
  background-color: #7c3aed;
}

.shareProgress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: width 0.07s linear;
  z-index: 1;
}

.buttonText {
  position: relative;
  z-index: 2;
}

.secondaryButton {
  flex-grow: 1;
  background-color: #8b5cf6;
}
.secondaryButton:hover {
  background-color: #7c3aed;
}

.claimButton:hover {
  /* background-color: rgb(116, 51, 235); */
}

.claimButton:active {
  transform: scale(0.98);
}

.claimButton:disabled {
  background-color: #e5e7eb;
  color: #9ca3af;
  cursor: not-allowed;
  transform: scale(1);
  box-shadow: none;
}

.statusMessage {
  margin-top: 1rem;
  padding: 0 1rem;
  text-align: center;
  font-weight: 500;
  height: 24px;
  font-size: 0.875rem;
}

.successMessage {
  color: #16a34a;
}

.errorMessage {
  color: #dc2626;
  white-space: normal;
  height: auto;
  min-height: 24px;
}

.notificationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  background-color: rgb(116, 51, 235);
  color: white;
  font-weight: 700;
  padding: 0.75rem 0;
  border-radius: 9999px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.notificationButton:hover {
  background-color: rgb(106, 41, 225);
}

.notificationButton:active {
  transform: scale(0.98);
}